<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/components/cart/cart.css">
    <link rel="shortcut icon" href="/Images/cycle-favicon.png" type="image/x-icon">
</head>
<body>
    <div class="sub-header">
        <div class="login-links">
            <a href="/components/signIn/signIn.html">Sign In</a> |
            <a href="/components/signUp/signUp.html">Sign Up</a>
        </div>
    </div>
    <nav class="navbar">
        <div class="nav-brand">
            <a href="/components/cycles/cycles.html" class="nav-brand-name">Faster Cycle Store</a>
            <a href="/index.html"><img src="/Images/fastercyclelogo.png" alt="brand-img" class="nav-brand-img"></a>
        </div>
       <div class="nav-contents">
        <div class="search-bar">
            <input type="text" placeholder="Search" class="search-input">
        </div>

        <div class="wishlist">
            <a href="/components/wishlist/wishlist.html" class="nav-wishlist-icon"><i class="lni lni-heart"></i></a>
            <span class="wishlist-items-number">4</span>
        </div>

        <div class="cart">
            <a href="/components/cart/cart.html" class="cart-icon"><i class="lni lni-cart-full"></i></a>
            <span class="cart-items-number">3</span>
        </div>

        <div class="user-profile">
            <a href="/components/profile/profile.html"  title="User-Profile"><img class="user-profile-icon" src="/Images/pngwing.com.png" alt="user-profile"></a>
        </div>
        
       </div>
    </nav>
    
    <div class="profile-container">
        <div class="profile-card">
            <h2>Profile</h2>
            <div class="user-info-container">
                <img src="/Images/pngwing.com.png" alt="user-img">

                <div class="user-info">
                  <div class="user-name"><strong>Name:</strong>   Omkar Sanjay Patke</div>
                  <div class="user-email"><strong>Email:</strong>   omkarpatke1101@gmail.com</div>
                  <div class="user-phone-number"><strong>Phone No:</strong>   9876543217</div>
                </div>
            </div>
            <div class="btns-container">
                <a href="#" class="product-btn switch-btn">Switch to Another Account</a>
                <a href="/index.html" class="proceed-to-checkout-btn logout-btn">Logout</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-links-container">
            <ul>
                <h2 class="footer-links-heading">SUPPORT</h2>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Cancellations & Returns</a></li>
            </ul>

            <ul>
                <h2 class="footer-links-heading">About Us</h2>
                <li><a href="#">Corporate Profile</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Stores</a></li>
            </ul>

            <ul>
                <h2 class="footer-links-heading">Policy</h2>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>

            <ul>
                <h2 class="footer-links-heading">Follow Us</h2>
                <div class="social-media-links">
                    <li><a target="_blank" href="https://www.facebook.com/omkar.patke.1/" class="facebook-link"><i class="lni lni-facebook-original"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/omkar_patke" class="twitter-link"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/omkar-patke-a61b221ab/" class="linkedIn-link"><i class="lni lni-linkedin-original"></i></a></li>
                </div>
            </ul>
        </div>
        <!-- ©2022 Track and Trail, All Rights Reserved -->
    </footer>
</body>
</html>