<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faster Cycles</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="cycles.css">
    <link rel="stylesheet" href="https://fasterui.netlify.app/components/components.css">
</head>
<body>
    <div class="sub-header">
        <div class="login-links">
            <a href="/components/signIn/signIn.html">Sign In</a> |
            <a href="/components/signUp/signUp.html">Sign Up</a>
        </div>
    </div>
    <nav class="navbar">
        <div class="nav-brand">
            <a href="/components/cycles/cycles.html" class="nav-brand-name">Faster Cycle Store</a>
            <a href="/index.html"><img src="/Images/fastercyclelogo.png" alt="brand-img" class="nav-brand-img"></a>
        </div>
       <div class="nav-contents">
        <div class="search-bar">
            <input type="text" placeholder="Search" class="search-input">
        </div>

        <div class="wishlist">
            <a href="/components/wishlist/wishlist.html" class="nav-wishlist-icon"><i class="lni lni-heart"></i></a>
            <span class="wishlist-items-number">4</span>
        </div>

        <div class="cart">
            <a href="/components/cart/cart.html" class="cart-icon"><i class="lni lni-cart-full"></i></a>
            <span class="cart-items-number">3</span>
        </div>

        <div class="user-profile">
            <a href="/components/profile/profile.html"  title="User-Profile"><img class="user-profile-icon" src="/Images/pngwing.com.png" alt="user-profile"></a>
        </div>
        
       </div>
    </nav>

    <div class="cycles-main-container">
       <div class="filter-container">
           <h2 class="filter-name">FILTER</h2>
          <div class="filters">
           <div class="filter range">
               <h3>Price Range</h3>
            <div class="price-range">
                <input type="range" name="price-range" id="price-range" min="2000" max="20000">
            </div>
           </div>
           <hr>
           
           <div class="brands-filter-input">
            <h3>Brands</h3>
            <div class="check-box-input">
                <input type="checkbox">
                <label for="BSA">BSA</label>
            </div>
            <div class="check-box-input">
                <input type="checkbox">
                <label for="Hercules">Hercules</label>
            </div>
            <div class="check-box-input">
                <input type="checkbox">
                <label for="Mach City">Mach City</label>
            </div>
            <div class="check-box-input">
                <input type="checkbox">
                <label for="Montra">Montra</label>
            </div>
            <div class="check-box-input">
                <input type="checkbox">
                <label for="Roadeo">Roadeo</label>
            </div>
            <div class="check-box-input">
                <input type="checkbox">
                <label for="BSA Ladybird">BSA Ladybird</label>
            </div>
          </div>
          <hr>
        <div class="bike-type-filter">
            <h3>Bike Type</h3>
            <div class="radio-input">
                <input type="radio" name="bike-type">
                <label for="City Bikes">City Bikes</label>
            </div>

            <div class="radio-input">
                <input type="radio" name="bike-type">
                <label for="Kids Bikes">Kids Bikes</label>
            </div>

            <div class="radio-input">
                <input type="radio" name="bike-type">
                <label for="Mountian Bikes">Mountian Bikes</label>
            </div>
        </div>
        <hr>

        <div class="gender-filter">
            <h3>Gender</h3>
            <div class="gender-checkbox-input">
                <input type="checkbox" name="gender">
                <label for="Male">Male</label>
            </div>

            <div class="gender-checkbox-input">
                <input type="checkbox" name="gender">
                <label for="Female">Female</label>
            </div>
        </div>
   
        </div>
       </div>

       <div class="products-container">

           <div class="product">
               <a href="#wishlist">
                <i class="product-wishlist-icon lni lni-heart"></i>
               </a>
               <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
               <div class="product-desc">DSA Roamer 20T Magic Blue</div>
               <div class="product-price">MRP: ₹4,149</div>
               <div class="product-links">
                   <a href="#" class="product-btn">KNOW MORE</a>
                   <a href="#" class="product-btn">Add To Cart</a>
               </div>
           </div>

           <div class="product">
            <a href="#wishlist">
             <i class="product-wishlist-icon lni lni-heart"></i>
            </a>
            <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
            <div class="product-desc">DSA Roamer 20T Magic Blue</div>
            <div class="product-price">MRP: ₹4,149</div>
            <div class="product-links">
                <a href="#" class="product-btn">KNOW MORE</a>
                <a href="#" class="product-btn">Add To Cart</a>
            </div>
            </div>

            <div class="product">
                <a href="#wishlist">
                 <i class="product-wishlist-icon lni lni-heart"></i>
                </a>
                <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
                <div class="product-desc">DSA Roamer 20T Magic Blue</div>
                <div class="product-price">MRP: ₹4,149</div>
                <div class="product-links">
                    <a href="#" class="product-btn">KNOW MORE</a>
                    <a href="#" class="product-btn">Add To Cart</a>
                </div>
            </div>

            <div class="product">
                <a href="#wishlist">
                 <i class="product-wishlist-icon lni lni-heart"></i>
                </a>
                <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
                <div class="product-desc">DSA Roamer 20T Magic Blue</div>
                <div class="product-price">MRP: ₹4,149</div>
                <div class="product-links">
                    <a href="#" class="product-btn">KNOW MORE</a>
                    <a href="#" class="product-btn">Add To Cart</a>
                </div>
            </div>

            <div class="product">
                <a href="#wishlist">
                 <i class="product-wishlist-icon lni lni-heart"></i>
                </a>
                <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
                <div class="product-desc">DSA Roamer 20T Magic Blue</div>
                <div class="product-price">MRP: ₹4,149</div>
                <div class="product-links">
                    <a href="#" class="product-btn">KNOW MORE</a>
                    <a href="#" class="product-btn">Add To Cart</a>
                </div>
            </div>

            <div class="product">
                <a href="#wishlist">
                 <i class="product-wishlist-icon lni lni-heart"></i>
                </a>
                <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
                <div class="product-desc">DSA Roamer 20T Magic Blue</div>
                <div class="product-price">MRP: ₹4,149</div>
                <div class="product-links">
                    <a href="#" class="product-btn">KNOW MORE</a>
                    <a href="#" class="product-btn">Add To Cart</a>
                </div>
            </div>
 
            <div class="product">
             <a href="#wishlist">
              <i class="product-wishlist-icon lni lni-heart"></i>
             </a>
             <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
             <div class="product-desc">DSA Roamer 20T Magic Blue</div>
             <div class="product-price">MRP: ₹4,149</div>
             <div class="product-links">
                 <a href="#" class="product-btn">KNOW MORE</a>
                 <a href="#" class="product-btn">Add To Cart</a>
             </div>
             </div>
 
             <div class="product">
                 <a href="#wishlist">
                  <i class="product-wishlist-icon lni lni-heart"></i>
                 </a>
                 <img class="product-img" src="https://www.trackandtrail.in/sites/default/files/styles/listing_image/public/romer3_0.png?itok=tePICCz7" alt="cycle-img">
                 <div class="product-desc">DSA Roamer 20T Magic Blue</div>
                 <div class="product-price">MRP: ₹4,149</div>
                 <div class="product-links">
                     <a href="#" class="product-btn">KNOW MORE</a>
                     <a href="#" class="product-btn">Add To Cart</a>
                 </div>
             </div>
 
 
       </div>
    </div>


    <footer class="footer">
        <div class="footer-links-container">
            <ul>
                <h2 class="footer-links-heading">SUPPORT</h2>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Cancellations & Returns</a></li>
            </ul>

            <ul>
                <h2 class="footer-links-heading">About Us</h2>
                <li><a href="#">Corporate Profile</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Stores</a></li>
            </ul>

            <ul>
                <h2 class="footer-links-heading">Policy</h2>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>

            <ul>
                <h2 class="footer-links-heading">Follow Us</h2>
                <div class="social-media-links">
                    <li><a target="_blank" href="https://www.facebook.com/omkar.patke.1/" class="facebook-link"><i class="lni lni-facebook-original"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/omkar_patke" class="twitter-link"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/omkar-patke-a61b221ab/" class="linkedIn-link"><i class="lni lni-linkedin-original"></i></a></li>
                </div>
            </ul>
        </div>
        <!-- ©2022 Track and Trail, All Rights Reserved -->
    </footer>
</body>
</html>